@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #1f242d;
    color: #ffffff;   
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #2a2e3b;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.display{
    width: 100%;
    height: 80px;
    background-color: #1f242d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 2rem;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.buttons{
    margin-top: 10px;
}

button {
    width: 70px;
    height: 70px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
    box-shadow: 0 4px #1c1c1c;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:active {
    box-shadow: 0 2px #1c1c1c;
    transform: translateY(2px);
}

button.operator {
    background-color: #f1a33c;
    color: #ffffff;
}

button#btn-clear {
    background-color: #d4d4d2;
    color: #000000;
}
